@page "/GameRun"
<h1>Welcome to my hangman Game!</h1>

<button @onclick=PlayerName>Enter Your Name</button>

<img src="@imgPath"/>



@code
{
    MultiplayerHangmanGame game = MultiplayerHangmanGame.Instance;
    int imgNum =1;
    string imgPath => $"step {imgNum}.png";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        game.OnGameStateChanged += () => InvokeAsync(StateHasChanged);
    }

    void PlayerName()
    {

    }
}