@page "/"

<PageTitle>HangMan Legend League</PageTitle>
<a href="/GameRun">Play Hangman Here</a> 
<a href="/LeaderBoard"> Click to view LeaderBoard</a>

<button @onclick="StartNewRound"> Reset the Game</button>
@code
{

    private void StartNewRound()
    {
        MultiplayerHangmanGame.Instance.StartNewRound();
        StateHasChanged();
    }
}



