@page "/LeaderBoard"
@inject NavigationManager Navigation
<h1>Welcome to the LeaderBoard</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @if (topScores == null)
        {
            <tr>
                <td colspan="2">Loading...</td>
            </tr>
        }
        else
        {
            @foreach (var score in topScores)
            {
                <tr>
                    <td>@score.PlayerName</td>
                    <td>@score.Score</td>
                </tr>
            }
        }
    </tbody>
</table>

<button @onclick="GoHome">Go to Home Page</button>

@code {
    
    private List<ScoreEntry> topScores;

    protected override void OnInitialized()
    {
        LoadLeaderboard();
        MultiplayerHangmanGame.Instance.OnGameStateChanged += () => LoadLeaderboard();
    }

    private void LoadLeaderboard()
    {
        topScores = MultiplayerHangmanGame.Instance.GetTopScores();
        InvokeAsync(StateHasChanged);
    }

    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}
